<template>
  <nav
    class="block md:hidden flex items-center justify-between flex-wrap container mx-auto py-4  "
  >
    <div class="block flex-grow flex items-center w-auto mx-4">
      <div
        class="hover:bg-light1 dark-hover:bg-dark1 flex items-center flex-shrink-0 mr-6"
      >
        <a
          role="button"
          @click.prevent="openNavbarModal()"
          aria-label="Open Navigation"
          title="Open Navigation"
        >
          <menu-icon size="1.5x" class="custom-class"></menu-icon>
        </a>
      </div>
      <div class="flex-grow text-center font-bold text-lg">
        <g-link
          class="hover:bg-light1 dark-hover:bg-dark1 rounded-sm font-semibold text-xl tracking-tight"
          to="/"
          >{{ $static.metadata.siteName }}</g-link
        >
      </div>

      <div class="inline-block">
        <ul class="list-none flex justify-center md:justify-end">
          <li class="hover:bg-light1 dark-hover:bg-dark1 rounded-full mr-6">
            <search-button v-on="$listeners"></search-button>
          </li>
          <li class="hover:bg-light1 dark-hover:bg-dark1 rounded-full">
            <theme-switcher v-on="$listeners" :theme="theme" />
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import ThemeSwitcher from "~/components/Navbar/ThemeSwitcher.vue";
import SearchButton from "~/components/Navbar/SearchButton.vue";
import { MenuIcon } from "vue-feather-icons";

export default {
  components: {
    MenuIcon,
    SearchButton,
    ThemeSwitcher
  },
  props: {
    theme: {
      type: String
    },
    showNavigation: {
      type: Boolean
    }
  },
  methods: {
    openNavbarModal() {
      this.$emit("openNavbarModal");
    }
  }
};
</script>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>
