<template>
  <nav
    class="hidden md:block lg:block xl:block flex items-center justify-between flex-wrap container mx-auto py-3 z-20  "
  >
    <div class="block flex-grow flex items-center w-auto mx-4">
      <div class="flex items-center flex-shrink-0 mr-2">
        <span>
          <g-link class="font-semibold text-xl tracking-tight" to="/">{{
            $static.metadata.siteName
          }}</g-link>
        </span>
      </div>

      <div class="flex-grow">
        <ul class="list-none flex justify-left">
          <li
            v-for="navItem in $static.metadata.headerNavigation"
            :key="navItem.name"
            class="rounded-sm px-4 py-1"
          >
            <span>
              <g-link
                class="block"
                :to="navItem.link"
                :title="navItem.name"
                v-if="navItem.external != true && navItem.children.length <= 0"
                >{{ navItem.name }}</g-link
              >
            </span>
            <a
              class="block"
              :href="navItem.link"
              target="_blank"
              :title="navItem.name"
              v-if="navItem.external == true && navItem.children.length <= 0"
              >{{ navItem.name }}</a
            >
            <ClientOnly>
              <v-popover
                placement="top"
                popoverClass="navbar-popover"
                offset="16"
                v-if="navItem.children.length > 0"
              >
                <span>
                  <a class="" style="cursor:pointer;">
                    <div class="container mx-auto">
                      <div class="flex">
                        {{ navItem.name }}
                        <chevron-down-icon
                          size="1.5x"
                          class=""
                        ></chevron-down-icon>
                      </div>
                    </div>
                  </a>
                </span>
                <template slot="popover">
                  <ul>
                    <li
                      v-for="subItem in navItem.children"
                      :key="subItem.name"
                      class="px-4 py-2"
                    >
                      <span>
                        <g-link
                          class=""
                          :to="subItem.link"
                          :title="subItem.name"
                          v-if="subItem.external != true"
                          >{{ subItem.name }}</g-link
                        >
                      </span>
                      <span>
                        <a
                          class=""
                          :href="subItem.link"
                          target="_blank"
                          :title="subItem.name"
                          v-if="subItem.external == true"
                          >{{ subItem.name }}</a
                        >
                      </span>
                    </li>
                  </ul>
                </template>
              </v-popover>
            </ClientOnly>
          </li>
          <li class="px-4 py-1">
            <span>
              <a
                role="button"
                @click.prevent="toggleSubNavigation()"
                class="block"
                aria-label="Open Subnavigation"
                title="Open Subnavigation"
                v-bind:class="{
                  'text-blue-600': showSubNavigation,
                  '': !showSubNavigation
                }"
              >
                <more-horizontal-icon
                  size="1.5x"
                  class=""
                ></more-horizontal-icon>
              </a>
            </span>
            <div
              v-click-outside="onClickOutside"
              class="py-4 mega-menu mb-16 border-t border-gray-200 shadow-xl bg-light3 dark:bg-dark3 dark:border-gray-900"
              v-bind:class="{
                '': showSubNavigation,
                hidden: !showSubNavigation
              }"
            >
              <div>
                <subnavigation />
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="inline-block">
        <ul class="list-none flex justify-center md:justify-end">
          <li class="mr-6">
            <span>
              <search-button v-on="$listeners"></search-button>
            </span>
          </li>
          <li class="">
            <span>
              <theme-switcher v-on="$listeners" :theme="theme" />
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import { ChevronDownIcon, MoreHorizontalIcon } from "vue-feather-icons";
import ThemeSwitcher from "~/components/Navbar/ThemeSwitcher.vue";
import Subnavigation from "~/components/Navbar/NavbarSubNavigation.vue";
import SearchButton from "~/components/Navbar/SearchButton.vue";

export default {
  components: {
    MoreHorizontalIcon,
    ChevronDownIcon,
    ThemeSwitcher,
    SearchButton,
    Subnavigation
  },
  data: function() {
    return {
      showSubNavigation: false,
      vcoConfig: {
        events: ["dblclick", "click"],
        isActive: true
      }
    };
  },
  props: {
    theme: {
      type: String
    },
    hideSubnav: {
      type: Boolean
    }
  },
  methods: {
    toggleSubNavigation() {
      this.showSubNavigation = !this.showSubNavigation;
    },
    onClickOutside(event) {
      if (!event.defaultPrevented && this.showSubNavigation == true) {
        this.toggleSubNavigation();
      }
    },
    hideSubNavigation() {
      this.showSubNavigation = false;
    }
  },
  watch: {
    hideSubnav() {
      if (this.hideSubnav) {
        this.hideSubNavigation();
      }
    },
    $route(to, from) {
      this.hideSubNavigation();
    }
  }
};
</script>

<static-query>
query {
  metadata {
    siteName
    headerNavigation {
      name
      link
      external
      children {
        name
        link
        external
      }
    }
  }
}
</static-query>
