<template>
  <a
    role="button"
    @click.prevent="toggleTheme()"
    :aria-label="'Toggle ' + nextTheme"
    :title="'Toggle ' + nextTheme"
    class="toggle-theme"
  >
    <sun-icon
      size="1.5x"
      class="custom-class"
      v-if="theme === 'light'"
    ></sun-icon>
    <moon-icon
      size="1.5x"
      class="custom-class"
      v-if="theme === 'dark'"
    ></moon-icon>
  </a>
</template>

<script>
import { SunIcon, MoonIcon } from "vue-feather-icons";
let themes = ["light", "dark"];

export default {
  components: {
    SunIcon,
    MoonIcon
  },
  props: {
    theme: {
      type: String
    }
  },

  computed: {
    nextTheme() {
      const currentIndex = themes.indexOf(this.theme);
      const nextIndex = (currentIndex + 1) % themes.length;
      return themes[nextIndex];
    }
  },
  methods: {
    toggleTheme() {
      const currentIndex = themes.indexOf(this.theme);
      const nextIndex = (currentIndex + 1) % themes.length;
      window.__setPreferredTheme(themes[nextIndex]);

      this.$emit("setTheme", themes[nextIndex]);
    }
  },
  async mounted() {
    // set default
    if (typeof window.__theme !== "undefined")
      this.$emit("setTheme", window.__theme);
  }
};
</script>
