<template>
  <div class="w-full px-2 my-4 items-stretch">
  <div class="featured-post-card rounded-lg shadow-xl z-100 h-128">
      <VueSlickCarousel
        :arrows="true"
        :autoplay="true"
    class="h-full rounded-lg"
      >
        <div
    class="h-full relative"
          v-for="edge in records"
          :key="edge.node.id"
        >
          <g-link :to="edge.node.path">
    <div class="h-full relative" :id="edge.node.id">
              <g-image
                :src="edge.node.image"
                :alt="edge.node.title"
      class="rounded-lg object-cover absolute -z-10 h-full w-full"
              ></g-image>
      <div class="absolute top-0 left-0 text-light2 m-6">
      <p class="">
                  <g-link :to="edge.node.category.path">{{
                    edge.node.category.title
                  }}</g-link>
                </p>
      <h3 class="tracking-wider mt-3 mb-3 text-4xl max-w-xl">
                  {{ edge.node.title }}
                </h3>
                <p>
                  <time :datetime="edge.node.datetime">{{
                    edge.node.humanTime
                  }}</time>
                  &nbsp;&bull;&nbsp;
                  {{ edge.node.timeToRead }} min read
                </p>
              </div>
              <div>
                <span
      class="absolute bottom-0 left-0 bg-light2 dark:bg-dark2 p-4"
                >
                  <p>
                    {{ edge.node.excerpt }}
                  </p>
      <ul class="flex dark:text-blue-200 text-blue-800 mt-4">
        <li class="rounded-md">
                      <g-link
        class="bg-light3 dark:bg-dark3 p-2 mr-2 rounded-sm"
                        v-for="tag in edge.node.tags"
                        :key="tag.id"
                        :to="tag.path"
                        >#{{ tag.title }}</g-link
                      >
                    </li>
                  </ul>
                </span>
              </div>
            </div>
          </g-link>
        </div>
        <template #prevArrow>
    <div class="absolute top-0 right-0 my-2 mr-12 w-8 h-8 z-40">
    <arrow-left-icon size="2.0x" class="custom-class"></arrow-left-icon>
          </div>
        </template>
        <template #nextArrow>
    <div class="absolute top-0 right-0 my-2 mr-2 w-8 h-8 z-50">
            <arrow-right-icon
              size="2.0x"
      class="custom-class"
            ></arrow-right-icon>
          </div>
        </template>
      </VueSlickCarousel>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import { StarIcon, ArrowLeftIcon, ArrowRightIcon } from "vue-feather-icons";

export default {
  props: {
    records: {}
  },
  components: {
    VueSlickCarousel,
    ArrowLeftIcon,
    ArrowRightIcon,
    StarIcon
  },
  methods: {
    authors(record) {
      let tooltipText = [];
      for (let index = 0; index < record.author.length; index++) {
        if (index == 0) {
          tooltipText.push(`Posted by ${record.author[index].name}`);
        } else {
          if (index == 1) {
            tooltipText.push(`<br> Among with ${record.author[index].name}`);
          } else {
            tooltipText.push(`, ${record.author[index].name}`);
          }
        }
      }

      return tooltipText.join("");
    }
  }
};
</script>

<style></style>
src/components/Content/FeaturedCard.vue
