<template>
  <div>
    <div class="w-full mb-2 overflow-x-hidden  ">
      <h2 class="text-xl my-0">Navigation</h2>
      <div class="menu-links">
        <ul>
          <li
            v-for="navItem in $static.metadata.headerNavigation"
            :key="navItem.name"
            class="py-1"
          >
            <g-link
              class="hover:bg-light1 dark-hover:bg-dark1 rounded-sm block py-1"
              :to="navItem.link"
              :title="navItem.name"
              v-if="navItem.external != true && navItem.children.length <= 0"
              >{{ navItem.name }}</g-link
            >
            <a
              class="block"
              :href="navItem.link"
              target="_blank"
              :title="navItem.name"
              v-if="navItem.external == true && navItem.children.length <= 0"
              >{{ navItem.name }}</a
            >
            <ClientOnly>
              <v-popover
                placement="right"
                popoverClass="mobile-navbar-popover"
                offset="16"
                v-if="navItem.children.length > 0"
              >
                <a
                  class="hover:bg-light1 dark-hover:bg-dark1 rounded-sm block flex py-1"
                  style="cursor:pointer;"
                >
                  {{ navItem.name }}
                  <chevron-right-icon
                    size="1.5x"
                    class="custom-class"
                  ></chevron-right-icon>
                </a>

                <template slot="popover">
                  <ul>
                    <li
                      v-for="subItem in navItem.children"
                      :key="subItem.name"
                      class="hover:bg-dark1 px-4 py-2 hover:text-white"
                    >
                      <g-link
                        class="block"
                        :to="subItem.link"
                        :title="subItem.name"
                        v-if="subItem.external != true"
                        >{{ subItem.name }}</g-link
                      >
                      <a
                        class="block"
                        :href="subItem.link"
                        target="_blank"
                        :title="subItem.name"
                        v-if="subItem.external == true"
                        >{{ subItem.name }}</a
                      >
                    </li>
                  </ul>
                </template>
              </v-popover>
            </ClientOnly>
          </li>
        </ul>
      </div>
    </div>
    <div class="mobileSubnav pl-2  ">
      <subnavigation />
    </div>
  </div>
</template>

<static-query>
query {
   metadata {
    siteName
    headerNavigation {
      name
      link
      external
      children {
        name
        link
        external
      }
    }
  }
}
</static-query>
<script>
import { ChevronRightIcon } from "vue-feather-icons";
import Subnavigation from "~/components/Navbar/NavbarSubNavigation.vue";

export default {
  components: {
    Subnavigation,
    ChevronRightIcon
  }
};
</script>

<style></style>
