<template>
  <Layout>
    <content-header :image="$page.author.cover" :staticImage="false">
      <div
        class="text-center text-dark0 bg-gray-800 bg-opacity-50 lg:py-16 md:py-12 sm:py-10 py-8"
      >
        <div class="w-full">
          <g-image
            class="border-2 border-black md:h-32 md:w-32 h-24 w-24 rounded-md bg-white mx-auto"
            :src="$page.author.image"
            width="100"
            height="100"
            alt="Author Image"
          ></g-image>
        </div>
        <div class="w-full text-center pb-5">
          <h2 class="sm:text-5xl text-3xl font-extrabold">
            {{ $page.author.name }}
          </h2>
          <p class="sm:text-xl font-sans">{{ $page.author.bio }}</p>
        </div>
        <div class="w-full text-center pb-5">
          Blog Posts: {{ $page.author.belongsTo.totalCount }}
        </div>
        <div class="flex justify-center">
          <a
            :href="$page.author.facebook"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-red-500 flex items-center"
          >
            Facebook
            <github-icon size="2.5x" class="mx-2"></github-icon>
          </a>
          &nbsp;
          <a
            :href="$page.author.twitter"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-red-500 flex items-center"
          >
            Twitter
            <twitter-icon size="2.5x" class="mx-2"></twitter-icon>
          </a>
        </div>
      </div>
    </content-header>

    <div class="container mx-auto">
      <transition-group name="fade" class="flex flex-wrap my-4" tag="div">
        <CardItem
          v-for="{ node } of loadedPosts"
          :key="node.id"
          :record="node"
        />
      </transition-group>
      <ClientOnly>
        <infinite-loading @infinite="infiniteHandler" spinner="spiral">
          <div slot="no-more"></div>
          <div slot="no-results"></div>
        </infinite-loading>
      </ClientOnly>
    </div>
  </Layout>
</template>

<page-query>
  query($id: ID!, $page:Int) {
    author(id: $id) {
      name
      path
      bio
      image(width:150, height:150)
      cover
      facebook
      twitter
      linkedin
      belongsTo(perPage: 6, page: $page) @paginate {
        totalCount
        pageInfo {
          totalPages
          currentPage
        }
        edges {
          node {
            ... on Blog {
              id
              title
              image(width: 800)
              path
              timeToRead
              featured
              humanTime: created(format: "DD MMM YYYY")
              datetime: created
              excerpt
              tags {
                id
                title
                path
              }
              category {
                id
                title
                path
              }
              author {
                id
                name
                image(width: 64, height: 64, fit: inside)
                path
              }
            }
          }
        }
      }
    }  
  }
</page-query>

<script>
import CardItem from "~/components/Content/CardItem.vue";
import ContentHeader from "~/components/Partials/ContentHeader.vue";
import { GithubIcon, TwitterIcon } from "vue-feather-icons";

export default {
  components: {
    CardItem,
    ContentHeader,
    TwitterIcon,
    GithubIcon
  },
  metaInfo() {
    return {
      title: this.$page.author.name
    };
  },
  data() {
    return {
      loadedPosts: [],
      currentPage: 1
    };
  },
  created() {
    this.loadedPosts.push(...this.$page.author.belongsTo.edges);
  },
  methods: {
    async infiniteHandler($state) {
      if (
        this.currentPage + 1 >
        this.$page.author.belongsTo.pageInfo.totalPages
      ) {
        $state.complete();
      } else {
        const { data } = await this.$fetch(
          `${this.$page.author.path}${this.currentPage + 1}`
        );
        if (data.author.belongsTo.edges.length) {
          this.currentPage = data.author.belongsTo.pageInfo.currentPage;
          this.loadedPosts.push(...data.author.belongsTo.edges);
          $state.loaded();
        } else {
          $state.complete();
        }
      }
    }
  }
};
</script>
